<section class="container-fluid bg-header video-background">
  <video autoplay="" loop="" muted="" playsinline="" class="page-left__media" data-id="2">
    <source src="assets/video/BTM_V5.mp4" type="video/mp4">
  </video>
  <div class="row">
    <div class="col-lg-2 nav-col">
      <div class="nav-content">
        <div class="nav-logo">
          <img src="assets/SVG/born2meet-white.svg" alt="">
        </div>
        <div>
          <ul class="link-list">
            <li>
              <a href="#"><i class="fa fa-bars"></i></a>
            </li>
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <a href="#">Découvrer la vérité sur votre relation</a>
            </li>
            <li>
              <a href="#">Premium</a>
            </li>
            <li>
              <a href="#">Discover us</a>
            </li>
            <li>
              <a href="#">We tested for you</a>
            </li>
            <li>
              <a href="#">Info</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-8 d-flex flex-column justify-content-center">
      <div class="text-center">
        <img class="discover4me" src="assets/SVG/discover4me.svg" alt="">
        <div class="pt-5">
          <p class="header-text">
            <span>VOTRE ÂME SOEUR</span><br>
            <span>LA VERITÉ SUR VOTRE RELATION</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-2 text-white py-3">
      <h4 class="proof-title">PREMIUM</h4>
      <button class="primary-button my-2">
        <span class="btn-text">Se Connecter</span>
      </button>
      <div class="number-circle my-2">
        <p>0</p>
      </div>
    </div>
  </div>
</section>
<section class="container-fluid dark-section py-5">
  <div class="row">
    <div class="col-lg-6">
      <div class="row pb-3">
        <div class="col">
          <h4 class="proof-title">DÉCOUVRER <br> VOTRE ÂME SOEUR</h4>
        </div>
        <div class="col-auto">
          <button class="premium-btn">
            <span class="btn-text">PREMIUM</span>
          </button>
        </div>
      </div>
      <div class="image-banner">
        <div class="inner-text">
          <p>VIVEZ UNE RELATION COMPATIBLE AVEC BORN TO MEET</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row pb-3">
        <div class="col-6">
          <h4 class="proof-title">DÉCOUVRER
            LA VÉRITÉ
            SUR VOTRE RELATION</h4>
        </div>
        <div class="col-auto">
          <button class="gender-button">
            <svg-icon [svgStyle]="{'width.px': '30'}" src="assets/SVG/avatar-male.svg"></svg-icon>
            <svg-icon [svgStyle]="{'width.px': '30'}" src="assets/SVG/avatar-female.svg"></svg-icon>
          </button>
          <button class="gender-button">
            <svg-icon [svgStyle]="{'width.px': '30'}" src="assets/SVG/avatar-female.svg"></svg-icon>
            <svg-icon [svgStyle]="{'width.px': '30'}" src="assets/SVG/avatar-female.svg"></svg-icon>
          </button>
          <button class="gender-button">
            <svg-icon [svgStyle]="{'width.px': '30'}" src="assets/SVG/avatar-male.svg"></svg-icon>
            <svg-icon [svgStyle]="{'width.px': '30'}" src="assets/SVG/avatar-male.svg"></svg-icon>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="age-circle fire-circle d-flex justify-content-center align-items-center">
            <div class="date-selection">
              <p>Vous</p>
              <p>jj/mm/aaaa</p>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="age-circle blue-circle d-flex justify-content-center align-items-center">
            <div class="date-selection">
              <p>L'autre femme</p>
              <p>jj/mm/aaaa</p>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button routerLink="/premium/loading" class="primary-button">
          <span class="btn-text">Valider</span>
        </button>
      </div>
    </div>
  </div>
</section>
<section class="container py-5">
  <div class="row">
    <div class="col-lg-5">
      <h2 class="section-title">DISCOVER US</h2>
      <p class="section-paragraph">
        LES RELATIONS AMOUREUSES SONT RÉGIES PAR UN ORDRE COSMIQUE UNIVERSEL CYCLIQUE.
        SEULE LA CONSCIENCE DE LA PERSONNE DÉCIDE DANS QUEL ORDRE SE POSITIONNER.
      </p>
    </div>
    <div class="col-lg-7">
      <div class="video">
        <div class="form-row">
          <div class="col-9">
            <iframe height="250" src="https://www.youtube.com/embed/uD4izuDMUQA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="col-3">
            <img class="video-thumbnail" src="https://img.youtube.com/vi/uD4izuDMUQA/0.jpg" alt="">
            <img class="video-thumbnail" src="https://img.youtube.com/vi/uD4izuDMUQA/0.jpg" alt="">
            <img class="video-thumbnail" src="https://img.youtube.com/vi/uD4izuDMUQA/0.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container-fluid py-5">
  <div class="container">
    <h2 class="section-title">WE TESTED FOR YOU</h2>
  </div>
  <div class="row dark-section py-5">
    <div class="col-lg-1 d-flex flex-column justify-content-center">
      <div>
        <div class="prove-it-box">
          <p>WE PROVE IT!</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <img class="w-100" src="assets/images/couple-bg.png" alt="">
      <div class="row">
        <div class="col-auto">
          <div class="bottom-arrow"></div>
        </div>
        <div class="col"></div>
        <div class="col-auto">
          <div class="bottom-arrow"></div>
        </div>
      </div>
      <div class="killed-text py-3">
        <p class="text-center">
          <span class="she-got">SHE GOT</span><br>
          <span class="killed">KILLED!</span>
        </p>
      </div>
    </div>
    <div class="col-lg-5">
      <img class="w-100" src="assets/images/collage-image.png" alt="">
    </div>
    <div class="col-lg-3 d-flex flex-column justify-content-center">
      <div>
        <h4 class="proof-title">There is proof?</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mattis malesuada orci vitae dictum. Nunc hendrerit, massa in lobortis iaculis, velit mauris pretium dolor, quis faucibus urna quam at lorem. Phasellus lacinia augue nec diam iaculis gravida. Sed eget iaculis ligula. Phasellus hendrerit, ex nec consectetur accumsan, libero sapien elementum odio, eget consequat erat neque in dolor. Suspendisse in tincidunt nisl, dictum ullamcorper ipsum. Sed nunc leo, vulputate ac tincidunt id, sodales nec erat. Quisque tempor arcu in nibh pharetra ultricies.
        </p>
      </div>
    </div>
  </div>
</section>
