<section class="container-fluid dark-section">
  <div class="row">
    <div class="col-1">
      <img src="assets/SVG/born2meet-blue-white.svg" alt="">
    </div>
    <div class="col-9 text-center d-flex justify-content-center align-items-center">
      <h1 class="subscribe-title">WHERE THE FIRST FLAME STARTS</h1>
    </div>
    <div class="col-2 pt-2">
      <h4 class="proof-title">PREMIUM</h4>
      <button class="primary-button">
        <span class="btn-text">Se Connecter</span>
      </button>
    </div>
  </div>
</section>
<section class="container-fluid login-section">
  <div class="row">
    <div class="col-8 position-relative d-flex flex-column justify-content-end">
      <img class="subscribe-banner" src="assets/SVG/subscribe-banner.svg" alt="">
      <div class="subscribe-text">
        <p>
          VIVEZ UNE RELATION COMPATIBLE AVEC BORN TO MEET
        </p>
      </div>
    </div>
    <div class="col-4">
      <div class="login-container">
        <h2 class="login-title">Inscrivez-Vous</h2>
        <form class="login-form">
          <div class="row pt-3">
            <div class="col-6">
              <label>Je suis:</label>
              <div class="pb-3">
                <button class="form-control gender-choice">
                  <svg-icon [svgStyle]="{'width.px': '24'}" src="assets/SVG/avatar-male.svg"></svg-icon>
                </button>
                <button class="form-control gender-choice">
                  <svg-icon [svgStyle]="{'width.px': '24'}" src="assets/SVG/avatar-female.svg"></svg-icon>
                </button>
              </div>
              <div class="py-1">
                <input type="text" class="form-control" placeholder="PRÉNOM">
              </div>
              <div class="py-1">
                <input type="text" class="form-control" placeholder="JJ/MM/AAAA">
              </div>
              <div class="py-1">
                <mat-select placeholder="Pays" class="form-control">
                  <mat-option>Tunisie</mat-option>
                </mat-select>
              </div>
              <div class="py-1">
                <input type="email" class="form-control" placeholder="MAIL">
              </div>
              <div class="py-1">
                <input type="password" class="form-control" placeholder="MOT DE PASSE">
              </div>
              <div class="py-1">
                <input type="text" class="form-control" placeholder="CONFIRMEZ VOTRE MOT DE PASSE">
              </div>
              <div class="py-1">
                <button class="facebook-button">
                  SE CONNECTER AVEC FACEBOOK
                </button>
              </div>
              <div class="py-1">
                <button class="google-button">
                  SE CONNECTER AVEC GOOGLE
                </button>
              </div>
              <div class="py-1">
                <mat-select placeholder="RELIGIONS" class="form-control">
                  <mat-option>Islam</mat-option>
                </mat-select>
              </div>
            </div>
            <div class="col-6 text-center">
              <img class="w-75" src="assets/SVG/upload-avatar.svg" alt="">
            </div>
          </div>
          <h2 class="login-title text-left mt-5">DISCOVER FOR ME?</h2>
          <label>JE CHERCHE</label>
          <div class="pb-3">
            <button class="form-control gender-choice">
              <svg-icon [svgStyle]="{'width.px': '24'}" src="assets/SVG/avatar-male.svg"></svg-icon>
            </button>
            <button class="form-control gender-choice">
              <svg-icon [svgStyle]="{'width.px': '24'}" src="assets/SVG/avatar-female.svg"></svg-icon>
            </button>
          </div>
          <div class="row">
            <div class="col-auto">
              <label>TRANCHE D’ÂGE :</label>
            </div>
            <div class="col d-flex">
              <div class="left-arrow">

              </div>
              <div class="flex-grow-1">
                <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
              </div>
              <div class="right-arrow"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <label>PAYS:</label>
            </div>
            <div class="col-4">
              <label>RELIGIONS:</label>
            </div>
            <div class="col-4">
              <label>LANGUE DE CHAT:</label>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <mat-select placeholder="PAYS" class="form-control">
                <mat-option>Tunisie</mat-option>
              </mat-select>
            </div>
            <div class="col-4">
              <mat-select placeholder="RELIGIONS" class="form-control">
                <mat-option>Tunisie</mat-option>
              </mat-select>
            </div>
            <div class="col-4">
              <mat-select placeholder="LANGUE" class="form-control">
                <mat-option>Français</mat-option>
              </mat-select>
            </div>
          </div>
          <div class="d-flex pt-3 justify-content-end">
            <button class="primary-button">
              <span class="btn-text">Valider</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<section class="container-fluid dark-section py-5">
  <div class="row">
    <div class="col-1">
      <div class="ads-box">
        <p>ADS</p>
      </div>
    </div>
  </div>
</section>
<section class="text-center py-4">
  <h2 class="primary-title">Les membres qui ont trouvé leur âme soeur</h2>
</section>
<section class="container-fluid dark-section py-3 mb-5">
  <div class="row justify-content-between">
    <div class="col-1 d-flex flex-column justify-content-center">
      <div class="prove-it-box">
        <p>FOUND YOU</p>
      </div>
    </div>
    <div class="col-2">
      <div class="couple-circle">
        <div class="image-circle"></div>
      </div>
      <p class="text-center m-0">
        MERCI BORN TO MEET
      </p>
      <p class="text-center m-0">
        NADIA ET JOHN
      </p>
    </div>
    <div class="col-2">
      <div class="couple-circle">
        <div class="image-circle"></div>
      </div>
      <p class="text-center m-0">
        MERCI BORN TO MEET
      </p>
      <p class="text-center m-0">
        NADIA ET JOHN
      </p>
    </div>
    <div class="col-2">
      <div class="couple-circle">
        <div class="image-circle"></div>
      </div>
      <p class="text-center m-0">
        MERCI BORN TO MEET
      </p>
      <p class="text-center m-0">
        NADIA ET JOHN
      </p>
    </div>
    <div class="col-2">
      <div class="couple-circle">
        <div class="image-circle"></div>
      </div>
      <p class="text-center m-0">
        MERCI BORN TO MEET
      </p>
      <p class="text-center m-0">
        NADIA ET JOHN
      </p>
    </div>
    <div class="col-1"></div>
  </div>
</section>
