<div class="container-fluid video-background">
  <video autoplay="" loop="" muted="" playsinline="" class="page-left__media" data-id="2">
    <source src="assets/video/BTM_V5.mp4" type="video/mp4">
  </video>
  <div class="custom-container py-5">
    <div class="row">
      <div class="col-4">
        <div class="relation-detail">
          <div class="profile">
            <img src="assets/images/adam.jpeg" alt="">
            <p>ADAM</p>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ornare et justo nec pretium. Aliquam facilisis, mi quis tempus accumsan, nibh dolor commodo nibh, euismod egestas arcu elit tristique sapien. Cras eget mi sit amet justo pulvinar accumsan. Nulla facilisi. Donec sed lacus quis neque semper consequat rhoncus nec sem. Integer mi risus, porttitor non diam non, maximus tincidunt mi. Nulla eros lacus, egestas id enim vel, dictum dapibus lacus.
          </p>
        </div>
      </div>
      <div class="col-4 d-flex flex-column justify-content-end">
        <div class="experience">
          <span class="bottom-arrow"></span>
          <h6 class="experience-title">Votre expérience</h6>
          <div class="container-fluid">
            <div class="row no-gutters">
              <div class="col-auto text-center d-flex align-items-center">
                <div>
                  <svg-icon [svgStyle]="{'width.px': '36'}" src="assets/SVG/react-bad.svg"></svg-icon>
                  <p class="react-text">
                    BAD
                  </p>
                </div>
              </div>
              <div class="col-auto text-center d-flex align-items-center">
                <div>
                  <svg-icon [svgStyle]="{'width.px': '36'}" src="assets/SVG/react-not-bad.svg"></svg-icon>
                  <p class="react-text">
                    NOT BAD
                  </p>
                </div>
              </div>
              <div class="col-auto text-center d-flex align-items-center">
                <div>
                  <svg-icon [svgStyle]="{'width.px': '36'}" src="assets/SVG/react-good.svg"></svg-icon>
                  <p class="react-text">
                    GOOD
                  </p>
                </div>
              </div>
              <div class="col-auto text-center d-flex align-items-center">
                <div>
                  <svg-icon [svgStyle]="{'width.px': '36'}" src="assets/SVG/react-excellent.svg"></svg-icon>
                  <p class="react-text">
                    EXCELLENT
                  </p>
                </div>
              </div>
              <div class="col">
                <div class="talk-bubble tri-right round right-in">
                  <div class="talk-text">
                    <p>AVIS</p>
                    <textarea placeholder="...." cols="15" rows="1" class="no-bg"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pt-3">
            <h6 class="experience-title">Afficher les commentaires</h6>
            <span class="bottom-arrow"></span>
          </div>
          <div>
            <button class="d-block more-btn">
              <span class="bottom-arrow white-arrow"></span>
            </button>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="chat-list d-flex align-items-center">
          <div class="container-fluid w-100">
            <div class="row">
              <div class="col-6">
                <img src="assets/SVG/love-basket.svg" alt="">
              </div>
              <div class="col-6">
                <div class="chat-element">
                  <img class="image" src="assets/images/adam.jpeg" alt="">
                  <div>
                    <button class="primary-button small">
                  <span class="btn-text">
                    Votre relation
                  </span>
                    </button>
                  </div>
                  <div>
                    <button class="primary-button small">
                  <span class="btn-text">
                    Chat
                  </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="chat-element">
                  <img class="image" src="assets/images/adam.jpeg" alt="">
                  <div>
                    <button class="primary-button small">
                  <span class="btn-text">
                    Votre relation
                  </span>
                    </button>
                  </div>
                  <div>
                    <button class="primary-button small">
                  <span class="btn-text">
                    Chat
                  </span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="chat-element">
                  <img class="image" src="assets/images/adam.jpeg" alt="">
                  <div>
                    <button class="primary-button small">
                  <span class="btn-text">
                    Votre relation
                  </span>
                    </button>
                  </div>
                  <div>
                    <button class="primary-button small">
                  <span class="btn-text">
                    Chat
                  </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="chat-element">
                  <img class="image" src="assets/images/adam.jpeg" alt="">
                  <div>
                    <button class="primary-button small">
                  <span class="btn-text">
                    Votre relation
                  </span>
                    </button>
                  </div>
                  <div>
                    <button class="primary-button small">
                  <span class="btn-text">
                    Chat
                  </span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="chat-element">
                  <img class="image" src="assets/images/adam.jpeg" alt="">
                  <div>
                    <button class="primary-button small">
                  <span class="btn-text">
                    Votre relation
                  </span>
                    </button>
                  </div>
                  <div>
                    <button class="primary-button small">
                  <span class="btn-text">
                    Chat
                  </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
