<div class="container-fluid video-background">
  <video autoplay="" loop="" muted="" playsinline="" class="page-left__media" data-id="2">
    <source src="assets/video/BTM_V5.mp4" type="video/mp4">
  </video>
  <div class="custom-container py-5">
    <div *ngIf="!isRelationExpanded && !isChatExpanded" class="row">
      <div class="col-4">
        <div *ngIf="isRelationDisplayed" class="relation-detail minus-plus-panel">
          <div class="profile">
            <img src="assets/images/adam.jpeg" alt="">
            <p>ADAM</p>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ornare et justo nec pretium. Aliquam facilisis, mi quis tempus accumsan, nibh dolor commodo nibh, euismod egestas arcu elit tristique sapien. Cras eget mi sit amet justo pulvinar accumsan. Nulla facilisi. Donec sed lacus quis neque semper consequat rhoncus nec sem. Integer mi risus, porttitor non diam non, maximus tincidunt mi. Nulla eros lacus, egestas id enim vel, dictum dapibus lacus.
          </p>
          <button (click)="isRelationExpanded = true" class="flat-btn plus-btn">
            <span class="fa-stack fa-1x">
                <i class="fa fa-circle fa-stack-2x white-circle"></i>
                <i class="fa fa-plus fa-stack-1x"></i>
              </span>
          </button>
          <button (click)="isRelationDisplayed = false" class="flat-btn minus-btn">
            <span class="fa-stack fa-1x">
                <i class="fa fa-circle fa-stack-2x white-circle"></i>
                <i class="fa fa-minus fa-stack-1x"></i>
              </span>
          </button>
        </div>
        <div *ngIf="isChatDisplayed" class="chat-detail minus-plus-panel">
          <button (click)="isChatExpanded = true" class="flat-btn plus-btn">
            <span class="fa-stack fa-1x">
                <i class="fa fa-circle fa-stack-2x white-circle"></i>
                <i class="fa fa-plus fa-stack-1x"></i>
              </span>
          </button>
          <button (click)="isChatDisplayed = false" class="flat-btn minus-btn">
            <span class="fa-stack fa-1x">
                <i class="fa fa-circle fa-stack-2x white-circle"></i>
                <i class="fa fa-minus fa-stack-1x"></i>
              </span>
          </button>
          <div class="profile">
            <div class="row">
              <div class="col-auto">
                <img src="assets/images/adam.jpeg" alt="">
              </div>
              <div class="col d-flex align-items-center">
                <div class="name">
                  <p>Foulena</p>
                </div>
              </div>
            </div>
          </div>
          <div class="chat-messages pt-3">
            <div class="row pb-2 justify-content-end">
              <div class="col-auto">
                <div class="chat-bubble tri-right round right-in">
                  <div class="talk-text">
                    <p>Mon âme soeur je suis là ...</p>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <img src="assets/images/adam.jpeg" alt="" class="chat-image">
              </div>
            </div>
            <div class="row pb-2">
              <div class="col-auto">
                <img src="assets/images/adam.jpeg" alt="" class="chat-image">
              </div>
              <div class="col-auto">
                <div class="chat-bubble tri-left round left-in">
                  <div class="talk-text">
                    <p>Bonjour...</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 d-flex flex-column justify-content-end">
        <div class="experience">
          <span class="bottom-arrow"></span>
          <h6 class="experience-title">Votre expérience</h6>
          <div class="container-fluid">
            <div class="row no-gutters">
              <div class="col-auto text-center d-flex align-items-center">
                <div>
                  <svg-icon [svgStyle]="{'width.px': '36'}" src="assets/SVG/react-bad.svg"></svg-icon>
                  <p class="react-text">
                    BAD
                  </p>
                </div>
              </div>
              <div class="col-auto text-center d-flex align-items-center">
                <div>
                  <svg-icon [svgStyle]="{'width.px': '36'}" src="assets/SVG/react-not-bad.svg"></svg-icon>
                  <p class="react-text">
                    NOT BAD
                  </p>
                </div>
              </div>
              <div class="col-auto text-center d-flex align-items-center">
                <div>
                  <svg-icon [svgStyle]="{'width.px': '36'}" src="assets/SVG/react-good.svg"></svg-icon>
                  <p class="react-text">
                    GOOD
                  </p>
                </div>
              </div>
              <div class="col-auto text-center d-flex align-items-center">
                <div>
                  <svg-icon [svgStyle]="{'width.px': '36'}" src="assets/SVG/react-excellent.svg"></svg-icon>
                  <p class="react-text">
                    EXCELLENT
                  </p>
                </div>
              </div>
              <div class="col">
                <div class="talk-bubble tri-right round right-in">
                  <div class="talk-text">
                    <p>AVIS</p>
                    <textarea placeholder="...." cols="15" rows="1" class="no-bg"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pt-3">
            <h6 class="experience-title">Afficher les commentaires</h6>
            <span class="bottom-arrow"></span>
          </div>
          <div>
            <button class="d-block more-btn">
              <span class="bottom-arrow white-arrow"></span>
            </button>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="chat-list d-flex align-items-center">
          <div class="container-fluid w-100">
            <div class="row">
              <div class="col-6">
                <img src="assets/SVG/love-basket.svg" alt="">
              </div>
              <div class="col-6">
                <div class="chat-element">
                  <img class="image" src="assets/images/adam.jpeg" alt="">
                  <div>
                    <button (click)="toggleRelation()" class="primary-button small">
                      <span class="btn-text">
                        Votre relation
                      </span>
                    </button>
                  </div>
                  <div>
                    <button (click)="toggleChat()" class="primary-button small">
                      <span class="btn-text">
                        Chat
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="chat-element">
                  <img class="image" src="assets/images/adam.jpeg" alt="">
                  <div>
                    <button (click)="toggleRelation()" class="primary-button small">
                      <span class="btn-text">
                        Votre relation
                      </span>
                    </button>
                  </div>
                  <div>
                    <button (click)="toggleChat()" class="primary-button small">
                      <span class="btn-text">
                        Chat
                      </span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="chat-element">
                  <img class="image" src="assets/images/adam.jpeg" alt="">
                  <div>
                    <button (click)="toggleRelation()" class="primary-button small">
                      <span class="btn-text">
                        Votre relation
                      </span>
                    </button>
                  </div>
                  <div>
                    <button (click)="toggleChat()" class="primary-button small">
                      <span class="btn-text">
                        Chat
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="chat-element">
                  <img class="image" src="assets/images/adam.jpeg" alt="">
                  <div>
                    <button (click)="toggleRelation()" class="primary-button small">
                      <span class="btn-text">
                        Votre relation
                      </span>
                    </button>
                  </div>
                  <div>
                    <button (click)="toggleChat()" class="primary-button small">
                      <span class="btn-text">
                        Chat
                      </span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="chat-element">
                  <img class="image" src="assets/images/adam.jpeg" alt="">
                  <div>
                    <button (click)="toggleRelation()" class="primary-button small">
                      <span class="btn-text">
                        Votre relation
                      </span>
                    </button>
                  </div>
                  <div>
                    <button (click)="toggleChat()" class="primary-button small">
                      <span class="btn-text">
                        Chat
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="isRelationExpanded" class="row">
      <div class="col-12">
        <div class="relation-expanded">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pulvinar erat vel massa blandit egestas. Praesent arcu augue, finibus sit amet consectetur et, accumsan non nibh. Pellentesque cursus rutrum enim, ac porttitor mi mollis ut. Donec placerat leo ut ultrices congue. Suspendisse dictum, magna in finibus ullamcorper, dui nunc lacinia augue, quis elementum dolor lacus eu eros. Nam vel nisl est. Quisque egestas placerat viverra. Etiam finibus diam eget nunc tincidunt fermentum. Proin consectetur leo a velit fermentum, nec finibus enim luctus. Donec ac mattis neque. Nullam vel laoreet enim, id efficitur justo. Ut hendrerit erat vitae facilisis dictum. Morbi vulputate turpis at ante faucibus interdum. Aliquam nec fermentum massa, at suscipit tortor. Praesent faucibus sapien at eros mattis hendrerit.
          </p>
          <div class="profile">
            <img src="assets/images/adam.jpeg" alt="">
            <p>ADAM</p>
          </div>
          <button (click)="isRelationExpanded = false" class="return-btn">
            <span class="btn-text">Retour</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container py-3">
  <div class="row">
    <div class="col-auto">
      <p class="advert-text">
        <span><strong>BORN TO MEET</strong> looks for your soulmate</span><br>
        <span class="spacing">among 11700 compatibilities</span>
      </p>
    </div>
    <div class="col">
      <img class="w-100" src="assets/SVG/born2meet.svg" alt="">
    </div>
  </div>
</div>
