<div class="bg-header home-header d-flex justify-content-center align-items-center video-background">
  <video autoplay="" loop="" muted="" playsinline="" class="page-left__media" data-id="2">
    <source src="assets/video/BTM_V5.mp4" type="video/mp4">
  </video>
</div>
<section class="container py-5">
  <div class="row">
    <div class="col-lg-5">
      <h2 class="section-title">DISCOVER US</h2>
      <p class="section-paragraph">
        LES RELATIONS AMOUREUSES SONT RÉGIES PAR UN ORDRE COSMIQUE UNIVERSEL CYCLIQUE.
        SEULE LA CONSCIENCE DE LA PERSONNE DÉCIDE DANS QUEL ORDRE SE POSITIONNER.
      </p>
    </div>
    <div class="col-lg-7"></div>
  </div>
</section>
<section class="container-fluid py-5">
  <div class="container">
    <h2 class="section-title">WE TESTED FOR YOU</h2>
  </div>
  <div class="row dark-section py-5">
    <div class="col-lg-1 d-flex flex-column justify-content-center">
      <div>
        <div class="prove-it-box">
          <p>WE PROVE IT!</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <img class="w-100" src="assets/images/couple-bg.png" alt="">
      <div class="row">
        <div class="col-auto">
          <div class="bottom-arrow"></div>
        </div>
        <div class="col"></div>
        <div class="col-auto">
          <div class="bottom-arrow"></div>
        </div>
      </div>
      <div class="killed-text py-3">
        <p class="text-center">
          <span class="she-got">SHE GOT</span><br>
          <span class="killed">KILLED!</span>
        </p>
      </div>
    </div>
    <div class="col-lg-5">
      <img class="w-100" src="assets/images/collage-image.png" alt="">
    </div>
    <div class="col-lg-3 d-flex flex-column justify-content-center">
      <div>
        <h4 class="proof-title">There is proof?</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mattis malesuada orci vitae dictum. Nunc hendrerit, massa in lobortis iaculis, velit mauris pretium dolor, quis faucibus urna quam at lorem. Phasellus lacinia augue nec diam iaculis gravida. Sed eget iaculis ligula. Phasellus hendrerit, ex nec consectetur accumsan, libero sapien elementum odio, eget consequat erat neque in dolor. Suspendisse in tincidunt nisl, dictum ullamcorper ipsum. Sed nunc leo, vulputate ac tincidunt id, sodales nec erat. Quisque tempor arcu in nibh pharetra ultricies.
        </p>
      </div>
    </div>
  </div>
</section>
