/* You can add global styles to this file, and also import other style files */
@import "theme";
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: 'PT Sans', sans-serif;
}

.test {
  background: $accent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dark-section {
  background: $primary;
  color: white;
}

footer {
  background: $primary;
  padding: 40px 0;
}

.footer-title {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}

.footer-text {
  display: block;
  font-size: 12px;
  color: white;
}

.facebook-blue {
  color: #4267B2;
}

.instagram-gradient {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.twitter-blue {
  color: #00acee;
}

.youtube-red {
  color: #FF0000;
}

ul.social-media {
  display: block;
  padding: 0;
  list-style: none;

  li {
    display: inline;
  }
}

.footer-large-text {
  color: $orange1;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.google-play-badge {
  img {
    width: 150px;
  }
}

.phone-img {
  width: 140px;
}

h2.section-title {
  font-weight: bold;
  color: $orange1;
}

p.section-paragraph {
  color: $gray;
  font-size: 24px;
}

.proof-title {
  font-weight: bold;
}

.prove-it-box {
  position: relative;
  padding-top: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;

  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-weight: bold;
    color: $orange2;
    text-align: center;
    font-size: 22px;

  }

}

.killed-text {
  color: $orange2;
  font-weight: bold;

  p {
    margin: 0;
  }

}

.she-got {
  display: inline-block;
  font-size: 32px;
  transform: rotateZ(-10deg);
}

.killed {
  font-size: 48px;
}

.bottom-arrow {
  margin: 5px 0;
  width: 0;
  height: 0;
  border-top: 20px solid $orange2;
  border-right: 12px solid transparent;
  border-Left: 12px solid transparent;
}

.premium-btn {
  background: $accent;
  border: solid 1px white;
  border-radius: 4px;
  padding: 0 20px;
  height: 40px;

  span.btn-text {
    background: $primary;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 24px;
  }

}

.image-banner {
  width: 80%;
  height: 350px;
  border: solid 1px white;
  border-radius: 10px;
  overflow: hidden;
  background: url("assets/images/meet-bg.png") center no-repeat;
  background-size: cover;
  position: relative;

  .inner-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 0 30px;

    p {
      background: $primary;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 700;
      font-size: 28px;
      margin: 0;
    }

  }

}

.gender-button {
  background: $blue-bg;
  border: solid 1px white;
  border-radius: 4px;
  height: 40px;
  margin: 0 10px;

  svg-icon {
    margin: 0 5px;
  }

}

.age-circle {
  height: 350px;
  max-width: 100%;
  width: 350px;
}

.age-circle.fire-circle {
  background: url("assets/images/fire-circle.png") center no-repeat;
  background-size: contain;
  mix-blend-mode: exclusion;
}

.age-circle.blue-circle {
  background: url("assets/images/blue-circle.png") center no-repeat;
  background-size: contain;
}

.date-selection {
  text-align: center;
  font-weight: bold;
}

.primary-button {
  background: $blue-bg;
  border: solid 1px white;
  border-radius: 16px 16px 0 16px;
  padding: 0 10px;

  .btn-text {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 18px;
  }

}

.primary-button.small {
  border-radius: 6px 6px 0 6px;
  padding: 0 3px;

  .btn-text {
    font-size: 9px;
  }

}

.nav-col {
  background-color: rgba(255, 255, 255, 0.3);

  .nav-content {
    padding: 20px 0;
  }

}

.nav-logo {
  height: 100px;
  text-align: center;

  img {
    height: 100%;
    object-fit: contain;
  }

}

.link-list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    padding: 5px 0;
  }

  li a {
    color: white;
    font-weight: bold;
  }

  li a:hover {
    color: white;
    text-decoration: none;
  }

}

.discover4me {
  width: 60%;
}

.bg-header {
  background-color: $gray;
}

.header-text span {
  background: $primary;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 28px;
}

.number-circle {
  height: 40px;
  width: 40px;
  background: url("assets/images/fire-circle.png") center no-repeat;
  background-size: contain;
  mix-blend-mode: exclusion;

  p {
    margin: 0;
    line-height: 35px;
    text-align: center;
    mix-blend-mode: normal;
  }

}

.subscribe-title {
  color: $blue;
  font-size: 56px;
  font-weight: bold;
}

.login-section {
  min-height: 80vh;
  background: url("assets/images/meet-bg.png");
  background-size: cover;
}

.login-container {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 20px 40px;
  margin: 20px 0;
}

.login-title {
  color: $dark-blue;
  font-weight: bold;
  text-align: center;
  font-size: 36px;
}

.login-form {
  label {
    font-weight: bold;
    text-transform: uppercase;
    color: white;
  }
}

.form-control.gender-choice {
  display: inline-block;
  width: auto;
}

mat-select.form-control, input.form-control {
  border-radius: 10px;
}

.facebook-button {
  background-color: #4267B2;
  color: white;
  text-transform: uppercase;
  width: 100%;
  border: none;
  font-size: 12px;
  font-weight: bold;
  height: 32px;
}

.google-button {
  background-color: #DB4437;
  color: white;
  text-transform: uppercase;
  width: 100%;
  border: none;
  font-size: 12px;
  font-weight: bold;
  height: 32px;
}

.subscribe-banner {
  width: 500px;
  position: absolute;
  top: 40%;
  left: 200px;
}

.subscribe-text {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  width: 60%;
  padding: 40px;
  margin-bottom: 15px;

  p {
    margin: 0;
    background: $primary;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
  }

}

.ads-box {
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;

  p {
    margin: 0;
    font-weight: bold;
    color: $orange2;
    text-align: center;
    font-size: 22px;

  }

}

.primary-title {
  font-weight: bold;
  background: $primary;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.couple-circle {
  background: url("assets/images/fire-circle.png") center no-repeat;
  background-size: contain;
  mix-blend-mode: exclusion;
  padding: 40px;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;

  .image-circle {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: white;
    transform: translate(5px, -7px);
    mix-blend-mode: unset;
  }

}

.home-header {
  min-height: 80vh;

  img {
    width: 300px;
  }

}

a.header-link {
  margin-left: 5px;
  color: white;
}

a.header-link:hover {
  color: white;
}

.carousel-container {
  background: $gray;
  min-height: 70vh;

  .love-basket {
    width: 100%;
  }

  .carousel-element {
    width: 200px;
    height: 200px;
    border-radius: 50px;
    background-color: $blue;
    padding: 5px;
    position: relative;

    & > img {
      position: absolute;
      height: 190px;
      width: 190px;
      object-fit: cover;
      border-radius: 50px;
      top: 5px;
      left: 0;
      transition: all .5s ease;
      z-index: 1;
    }

    .element-row {
      height: 100%;
      display: flex;
      display: -ms-flexbox;
      -ms-flex-align: center;
      align-items: center;

      & > div {
        width: 50%;
      }

      .image {
        text-align: center;
      }

      .image .detail-image {
        width: 60px;
        height: 60px;
        border-radius: 20px;
      }

      p.identity {
        font-size: 20px;
        font-weight: 700;
        color: white;
        text-transform: uppercase;
      }

      p.add-to-basket {
        font-size: 12px;
        color: white;
        margin: 0;
      }

      small.small-warning {
        font-size: 8px;
        color: #F54D27;
        font-weight: bold;
      }

      .heart-circle {
        width: 50px;
        height: 50px;
      }

    }

  }



  .carousel-element:hover {
    & > img {
      width: 80px;
      height: 80px;
      border-radius: 20px;
      left: 5px;
      top: 50%;
      transform: translateY(-40px);
      opacity: 0;
    }
  }

}

.carousel-nav {
  background: $primary;
  border-radius: 20px;
  height: 350px;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  align-items: center;

  .arrow-right {
    display: block;
    border-left: solid 30px $blue;
    border-top: solid 15px transparent;
    border-bottom: solid 15px transparent;
  }

  .arrow-left {
    display: block;
    border-right: solid 30px $blue;
    border-top: solid 15px transparent;
    border-bottom: solid 15px transparent;
  }

}

.carousel-nav-alt {
  background-color: #78D2E030;
  border-radius: 20px;
  height: 170px;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  align-items: center;

  .arrow-right {
    display: block;
    border-left: solid 30px #FCB900;
    border-top: solid 15px transparent;
    border-bottom: solid 15px transparent;
  }

  .arrow-left {
    display: block;
    border-right: solid 30px #FCB900;
    border-top: solid 15px transparent;
    border-bottom: solid 15px transparent;
  }

}

.flat-btn {
  background: none;
  border: none;
  padding: 0;
}

.basket-text {
  font-size: 38px;
  text-align: center;
  margin: 0;
  color: white;
}

.advert-text {
  font-size: 52px;
  color: $dark-blue;
  margin: 0;

  .spacing {
    letter-spacing: 9px;
  }

}

.custom-container {
  padding: 0 150px;
}

.content {
  border-radius: 20px;
  background: $primary;
}

.round-button {
  background: $blue-bg;
  border: solid 1px white;
  border-radius: 24px;
  height: 48px;

  .btn-text {
    text-transform: uppercase;
    color: white;
    font-size: 16px;
  }
}

p.white-text {
  color: white;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  margin: 0;
  text-align: justify;
  text-align-last: justify;
}

p.white-text.small {
  letter-spacing: 0.1px;
  font-size: 12px;
}

p.white-text.large {
  font-size: 26px;
  letter-spacing: 0;
}

.image-container {
  width: 150px;
  height: 150px;
  border-radius: 30px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}

mat-checkbox ::ng-deep .mat-checkbox-inner-container {width: 40px;height: 40px;}

.mat-checkbox-frame {
  background-color: #fbfbfb !important;
  border-color: #fbfbfb;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #fbfbfb;
}

.mat-checkbox-checkmark {
  fill: #73B4D8 !important;
}

.mat-checkbox-checkmark-path {
  stroke: #73B4D8 !important;
}

.alt-carousel {
  .carousel-element {
    width: 150px;
    height: 150px;
    border: solid 4px $blue;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

  }
}

.loading-header {
  min-height: 75vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: $gray;
}

.loading-text {
  -ms-flex-positive: 1;
  flex-grow: 1;
}

@keyframes blink {
  /**
   * At the start of the animation the dot
   * has an opacity of .2
   */
  0% {
    opacity: .2;
    transform: scale(0.5);
  }
  /**
   * At 20% the dot is fully visible and
   * then fades out slowly
   */
  20% {
    opacity: 1;
    transform: scale(1);
  }
  /**
   * Until it reaches an opacity of .2 and
   * the animation can start again
   */
  100% {
    opacity: .2;
    transform: scale(0.5);
  }
}

.saving {
  font-size: 46px;
  text-transform: uppercase;
}

.saving span {
  /**
   * Use the blink animation, which is defined above
   */
  animation-name: blink;
  /**
   * The animation should take 1.4 seconds
   */
  animation-duration: 1.4s;
  /**
   * It will repeat itself forever
   */
  animation-iteration-count: infinite;
  /**
   * This makes sure that the starting style (opacity: .2)
   * of the animation is applied before the animation starts.
   * Otherwise we would see a short flash or would have
   * to set the default styling of the dots to the same
   * as the animation. Same applies for the ending styles.
   */
  animation-fill-mode: both;
}

.saving span:nth-child(2) {
  /**
   * Starts the animation of the third dot
   * with a delay of .2s, otherwise all dots
   * would animate at the same time
   */
  animation-delay: .2s;
}

.saving span:nth-child(3) {
  /**
   * Starts the animation of the third dot
   * with a delay of .4s, otherwise all dots
   * would animate at the same time
   */
  animation-delay: .4s;
}

.saving span:nth-child(4) {
  /**
   * Starts the animation of the third dot
   * with a delay of .4s, otherwise all dots
   * would animate at the same time
   */
  animation-delay: .6s;
}

.saving span:nth-child(5) {
  /**
   * Starts the animation of the third dot
   * with a delay of .4s, otherwise all dots
   * would animate at the same time
   */
  animation-delay: .8s;
}

.saving span:nth-child(6) {
  /**
   * Starts the animation of the third dot
   * with a delay of .4s, otherwise all dots
   * would animate at the same time
   */
  animation-delay: 1s;
}

.saving span:nth-child(7) {
  /**
   * Starts the animation of the third dot
   * with a delay of .4s, otherwise all dots
   * would animate at the same time
   */
  animation-delay: 1.2s;
}

.born2meet-logo {
  width: 100px;
}

.bottom-text {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 42px;
  color: white;
}

.video-background {
  background-color: transparent;
  position: relative;
  z-index: 5;
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
  }
}

.relation-detail {
  border-radius: 5px;
  background: $primary;
  padding: 20px;
  position: relative;
  height: 480px;

  .profile {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 40px;

    img {
      height: 40px;
      width: 40px;
      object-fit: cover;
      border-radius: 4px;
    }

    p {
      text-align: center;
      font-size: 12px;
      margin: 0;
      line-height: 14px;
    }

  }

  p {
    color: white;
    font-size: 16px;
    line-height: 40px;
    margin: 0;
  }
}

.chat-list {
  border-radius: 5px;
  background: $blue;
  padding: 10px;
  position: relative;
  height: 480px;
}

.chat-element {
  margin: 20px 0;
  position: relative;
  height: 100px;
  z-index: 5;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;

  img.image {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }

  button {
    width: 80px;
  }

}

.experience {
  border-radius: 5px;
  background: $blue;
  margin-bottom: -3rem;
  padding: 5px;

  .experience-title {
    display: inline-block;
    text-transform: uppercase;
    color: #022440;
    font-weight: bold;
  }

  .bottom-arrow {
    display: inline-block;
    height: 0;
    border-top: solid 14px #022440;
    border-right: solid 7px transparent;
    border-left: solid 7px transparent;
    margin-bottom: -2px;
    margin-right: 4px;
  }

}
