$primary: linear-gradient(90deg, #022440, #000011);
$accent: linear-gradient(90deg, #FCB900, #F54D27);
$blue-bg: linear-gradient(90deg, #022440, #73B4D8);
$blue: #78D2E0;
$dark-blue: #022440;
$orange1: #F67400;
$orange2: #FF9900;
$gray: #606060;
