<section class="container-fluid dark-section">
  <div class="row">
    <div class="col-1">
      <img src="../../../../assets/SVG/born2meet-blue-white.svg" alt="">
    </div>
    <div class="col text-center d-flex justify-content-center align-items-center">
      <h1 class="subscribe-title">WHERE THE FIRST FLAME STARTS</h1>
    </div>
    <div class="col-auto pt-2">
      <h4 class="proof-title">PREMIUM</h4>
      <button class="primary-button">
        <span class="btn-text">Se Connecter</span>
      </button>
      <a class="header-link" href="#">DÉJÀ MEMBRE?</a>
    </div>
  </div>
</section>
<router-outlet></router-outlet>
<section class="container-fluid dark-section py-5">
  <div class="row">
    <div class="col-1">
      <div class="ads-box">
        <p>ADS</p>
      </div>
    </div>
  </div>
</section>
<section class="text-center py-4">
  <h2 class="primary-title">Les membres qui ont trouvé leur âme soeur</h2>
</section>
<section class="container-fluid dark-section py-3 mb-5">
  <div class="row justify-content-between">
    <div class="col-1 d-flex flex-column justify-content-center">
      <div class="prove-it-box">
        <p>FOUND YOU</p>
      </div>
    </div>
    <div class="col-2">
      <div class="couple-circle">
        <div class="image-circle"></div>
      </div>
      <p class="text-center m-0">
        MERCI BORN TO MEET
      </p>
      <p class="text-center m-0">
        NADIA ET JOHN
      </p>
    </div>
    <div class="col-2">
      <div class="couple-circle">
        <div class="image-circle"></div>
      </div>
      <p class="text-center m-0">
        MERCI BORN TO MEET
      </p>
      <p class="text-center m-0">
        NADIA ET JOHN
      </p>
    </div>
    <div class="col-2">
      <div class="couple-circle">
        <div class="image-circle"></div>
      </div>
      <p class="text-center m-0">
        MERCI BORN TO MEET
      </p>
      <p class="text-center m-0">
        NADIA ET JOHN
      </p>
    </div>
    <div class="col-2">
      <div class="couple-circle">
        <div class="image-circle"></div>
      </div>
      <p class="text-center m-0">
        MERCI BORN TO MEET
      </p>
      <p class="text-center m-0">
        NADIA ET JOHN
      </p>
    </div>
    <div class="col-1"></div>
  </div>
</section>
